.container {
  /* padding-left: 5vw; */
  overflow-x: hidden;
  position: relative;
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #3a0ca3;
  margin-top: 150px;
}

.hero {
  height: 100%;
  display:  flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-evenly;
}

.heroleft { 
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 5vw;
  justify-content: center;
  align-items: flex-start;
}

.heroright {
  flex : 1;
  position: absolute;
  top : 0px;
  width: 62%;
  aspect-ratio: 1;
  right : 0px;
  overflow: visible;
}

.heroSubheading{
  /* font-size: 3rem; */
  font-size : 3.4vw;
  font-weight: 200;
}

.heroTag {
  padding-top: 10em;
  background: linear-gradient(77.44deg, #B409B7 20.54%, #6F0BAC 60.59%, #3A0CA3 91.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subTag {
  background: linear-gradient(135deg, #F761A1 0%, #8C1BAB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.heroHeading {
  font-size : 5.8vw;
  font-weight: bold;
}
.heroleft .heroTag span {
  display: block;
}

.ideas {
  height: 110vh;
  display:  flex;
  font-family: 'Josefin Sans', sans-serif;
  justify-content: space-evenly;
}

.ideasLeft { 
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 5vw;
  justify-content: center;
  align-items: flex-start;
}

.ideasAction {
  margin-top: 62px;
}

.ideasHeading {
  font-size : 96px;
  font-weight: bold;
  color :#2D1A59;
}

.ideasSubheading{
  /* font-size: 3rem; */
  font-weight: 400;
font-size: 32px;
color :#4D4D4D;
margin-bottom: 64px;
}

.ideasTag {
  /* padding-top: 10em; */
}

.ideasLeft .ideasTag > span {
  display: block;
}

.heroleft .subTag {
  margin-top: 2.75em;
}
.heroleft .subTag span {
  font-weight: bold;
}

.heroactions { 
  display:  flex;
  gap : 2em;
  margin-top: 8em;
}

.heroImage{
  transform-origin: right;
  scale: 1.5;
  top : 50% !important;
}

.heroright *{ overflow: visible !important; }

.services {
  padding: 0px 5vw;
  margin: 9.275em 0px;
}

.technologies {
  background: #26076C;
  padding: 8vw 5vw;
  margin: 9.275em 0px;
}

.servicecards {
  width: 33%;
}

.industrycards{
  width : 25%;
}
.servicescontainer{}

/* @media only screen and (max-width : 1024) */

@media only screen and (max-width : 900px) {
  .servicecards { 
    width:  100%;
  }
  .industrycards{
    flex-wrap: wrap;
  }

  .servicescontainer{
    gap : 2em
  }

  .hero{
    margin-top : 10%;
    display : block;
  }

  .heroright{
    display :none;
  }

  .heroSubheading {
    font-size: 7vw;
  }

  .heroHeading{
    font-size : 11vw
  }

  .subTag{
    font-size: 3vw;
    width: 80%;
    word-wrap: break-word;
  }
  
  .heroactions button{
    width :45%;
  }
}

@media only screen and (min-width : 900px) and (max-width : 1280px){
  .subTag { 
    width : 50%
  }
}

@media only screen and (max-width : 600px){
  .heroactions button{
    width :100%;
    height: 50px;
    font-size: 16px;
  }
  .heroactions{
    flex-wrap: wrap;
  }
  .technologies{
    gap : 2em
  }

  .industrycards{
    width : 45%;
  }

}