.taglineContainer {
  padding: 14em 6em;
  margin-top: 4em;
  background-image: url("../assets/images/portHead.svg");
  background-position: bottom;
  background-size: cover;
  margin-top: 0;
  margin-bottom: -13em;
}
.firstLine {
  color: #ffffff;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.secondLine {
  color: #ffffff;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.colorText1 {
  color: #f72585 !important;
  font-weight: 600;
}
.colorText2 {
  color: #ffffff !important;
  font-weight: 600;
}
.content {
  font-size: 1em;
  color:  #ffffff ;
}
.portfolioDetails {
  padding: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.industry {
  font-size: 1.1em;
  color: #3A0CA3;
}
.project {
  font-weight: 800;
  color: #3A0CA3;
}
.inContent {
  font-size: .95em;
  margin-top: 0.7em;
  line-height: 1.7em;
  margin-bottom: 1.2em;
}
.backgroundDes {
  background-image: url("../assets/images/portback.svg");
  background-size: cover;
  background-size: 100% 100%;
  padding: 6em 2em !important;
}
.backgroundDesRev {
  background-image: url("../assets/images/reverseBack.svg");
  background-size: cover;
  padding: 6em 2em !important;
  background-size: 100% 100%;
}
.backgroundImg {
  /* width: 10em !important;
    height: 10em !important; */
}
.textBox {
  width: 50%;
  margin: auto;
  text-align: left;
}
.textBox2 {
  width: 50%;
  margin: auto;
  text-align: right;
}

.buttonDes {
  border-radius: 30px;
  text-transform: capitalize;
  font-size: .9em;
}
.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  margin-bottom: 10em;
}
.buttonDesLoad {
  color: #f72585;
  border: 1px solid #f72585;
  border-radius: 30px;
  padding: 0.5em 5em;
  text-transform: capitalize;
  font-weight: 600;
}

.buttonDesLoad :hover {
  color: #f72585;
  border: 1px solid #f72585 !important;
}
.mobileDes {
display: none;
}

/* ===========MEDIA QUERIES========== */
@media screen and (max-width: 992px) {
  .textBox {
    width: 100%;
  }
  .textBox2 {
    width: 100%;
    text-align:left ;
  }
  .backgroundDes {
    display :none
  }
  .backgroundDesRev {
    display :none
  }
  .mobileDes {
    display: block;
    margin:1em 0em;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .taglineContainer {
    padding: 7em 2em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-position: initial;
  }
  .portfolioDetails {
    padding: 2em;
  }
  .firstLine {
    font-size: 1.5em;
  }
  .secondLine {
    font-size: 2em;
  }
  .content {
    font-size: .6em
  }
  .backgroundDes {
    background-image :none
  }
  .backgroundDesRev {
    background-image :none
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .taglineContainer {
        padding: 7em 2em;
        margin-top: 2em;
        margin-bottom: 1em;
        background-position: initial;
      }
      .portfolioDetails {
        padding: 2em;
      }
      .firstLine {
        font-size: 1.5em;
      }
      .secondLine {
        font-size: 2em;
      }
      .content {
        font-size: .6em
      }
      .backgroundDes {
        background-image :none
      }
      .backgroundDesRev {
        background-image :none
      }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .taglineContainer {
      padding: 6em 3.5em;
      margin-top: 2em;
      margin-bottom: 1em;
      background-position: right;
    }
    .content {
        font-size: .8em;
    }
  }
  