.navbar {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.active {
  color: #f72585;
  cursor: pointer;
  font-weight: bolder;
}

.inactive {
  cursor: pointer;
  font-weight: bold;
}
